"*":
  core: {}
  editor:
    autoIndent: true
    invisibles:
      cr: false
      eol: false
    preferredLineLength: 120
    scrollPastEnd: true
    showIndentGuide: false
    showInvisibles: true
    showLineNumbers: true
    tabLength: 2
    tabType: "soft"
  welcome:
    showOnStartup: false
  whitespace:
    ensureSingleTrailingNewline: true
    removeTrailingWhitespace: true
