# Your snippets
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
#
# An example CoffeeScript snippet to expand log to console.log:
#
# '.source.coffee':
#   'Console log':
#     'prefix': 'log'
#     'body': 'console.log $1'
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it here:
# https://github.com/bevry/cson#what-is-cson

# Magento
'.text.html.php':
  'Magento: Translate':
    'prefix': 'this'
    'body': '<?php echo $this->__(\'$0\'); ?>'

  'Magento: Create Block':
    'prefix': 'createBlock'
    'body': '<?php echo $this->getLayout()->createBlock(\'${1:newsletter/subscribe}\')->setTemplate(\'${2:newsletter/subscribe.phtml}\')->toHtml(); ?>$3'

  'Magento: Create CMS Block':
    'prefix': 'createBlockCms'
    'body': '<?php echo $this->getLayout()->createBlock(\'cms/block\')->setBlockId(\'${1:companion_cube}\')->toHtml(); ?>$2'

  'Magento: Create (Conditional) CMS Block':
    'prefix': 'createBlockCmsConditional'
    'body': '<?php if (Mage::getModel(\'cms/block\')->load(\'${1:companion_cube}\')->getIsActive()): ?>\n\t<?php echo $this->getLayout()->createBlock(\'cms/block\')->setBlockId(\'${1:companion_cube}\')->toHtml(); ?>\n<?php endif; ?>$2'

  'Magento: Get Current URL':
    'prefix': 'getCurrentUrl'
    'body': '<?php echo Mage::helper(\'core/url\')->getCurrentUrl(); ?>'

  'Magento: Get Skin URL':
    'prefix': 'getSkinUrl'
    'body': '<?php echo $this->getSkinUrl(\'${1:images}/${2:aperture-science-logo.png}\'); ?>$3'

  'Magento: Get Skin URL (Secure)':
    'prefix': 'getSkinUrlSecure'
    'body': '<?php echo $this->getSkinUrl(\'${1:images}/${2:aperture-science-logo.png}\', array(\'_secure\' => ${3:true}); ?>$4'

  'Magento: Get Store Configuration':
    'prefix': 'getStoreConfig'
    'body': '<?php echo Mage::getStoreConfig(\'${1:general}/${2:store_information}/${3:phone}\'); ?>$4'

  'Magento: Get URL':
    'prefix': 'getUrl'
    'body': '<?php echo Mage::getUrl(\'${1:contacts}\'); ?>'

  'Magento: Check Module Status':
    'prefix': 'isModuleEnabled'
    'body': '<?php if (Mage::helper(\'core\')->isModuleEnabled(\'${1:Fishpig_Wordpress}\')): ?>\n\t$2\n<?php endif; ?>'

  'Magento: Log':
    'prefix': 'log'
    'body': '<?php Mage::log(\'${1:The cake is a lie...}\', Zend_Log::INFO, \'${2:rattmann}.log\'); ?>$3'
